aiosqlite==0.22.1
anyio==4.15.1
asyncua==2.0.1
cffi==2.1.1
colorama==0.4.6
cryptography==50.0.1
idna==3.19
iniconfig==2.3.0
numpy==2.4.6
packaging==26.3
pip==26.2.1
pluggy==1.6.0
pycparser==3.0
Pygments==2.21.0
pyOpenSSL==26.4.0
pyparsing==3.3.2
PySide6==6.11.2
PySide6_Addons==6.11.2
PySide6_Essentials==6.11.2
pytest==9.1.1
python-dateutil==2.9.0.post0
pytz==2026.3.post1
PyYAML==6.0.3
setuptools==84.0.0
shiboken6==6.11.2
six==1.17.0
sortedcontainers==2.4.0
svgwrite==1.4.3
typing_extensions==4.16.0
wait_for2==0.4.1
wheel==0.48.0
